<ion-view view-title="Historique">
  <ion-content>
  <div class="list">
    <div class="item item-divider">
      Evénements
      <span class="item-note"><button class="button button-dark ion-load-c iconButton" ng-click="reload()"></button>
      </span>

    </div>
    <a class="item" href="#" ng-repeat="event in historique">
       {{event.eventTxt}}
       <span class="item-note">
        {{event.date}}
      </span>

    </a>


    <!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    -->
  </ion-content>
</ion-view>
